*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;

}
body{
	font-family: 'Orbitron', sans-serif;
	max-width: 100%;
	max-height: 100%;
	background-color: #D3D3D3;

}
.title-h1{
	display: grid;
	justify-content: center;
	align-items: center;
	color: #4682B4;
	max-width: 270px;
	font-weight: 700;

}
.box-section{
	max-width: 400px;
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	padding: 10px;

}
.box-border{
	border: 2px solid rgb(192,192,192);
	border-radius: 3px;

}
.box-input input{
	display: flex;
	justify-content: center;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 11px;
	font-size: 16px;
	outline: none;
	width: 292px;
	margin-top: 2px;

}
.box-input input[type=number]::-webkit-inner-spin-button{ 
    -webkit-appearance: none;

}
.box-input input[type=number]{
	-moz-appearance: textfield;
	appearance: textfield;

}
.box-input input::placeholder{
	font-size: 16px;

}
.box-button{
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 3px;
}
#button,#buttonCA,
#buttonR,#buttonP,
#buttonC, #buttonDiv,
#buttonMult, #buttonSub,
#buttonSom, #buttonDot,
#buttonIg{
	color: #C0C0C0;
	width: 70px;
	height: 70px;
	color: rgb(28,28,28);
	font-weight: 700;	
	margin-bottom: 1px;
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	font-size: 18px;

}
#buttonDiv,#buttonSom,
#buttonMult, #buttonSub,
#buttonC,#buttonR,#buttonP{
	color: #FF8C00;
	font-weight: bold;
	font-size: 16px;

}
#button:active,#buttonCA:active,
#buttonR:active,#buttonP:active,
#buttonC:active, #buttonDiv:active,
#buttonMult:active, #buttonSub:active,
#buttonSom:active, #buttonDot:active,
#buttonIg:active{
	transform: translateY(4px);

}
.buttons0 button:nth-child(1){
	background-color: #FF8C00;

}
.buttons4 button:nth-child(3){
	background-color: #00BFFF ;

}
footer{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	flex-wrap: wrap;
	color: #4682B4;
	font-size: 16px;
	font-weight: 700;

}
.date-calc{
	display: grid;
	align-items: center;
	margin-top: 7px;
	justify-content: center;
	margin-bottom: 50px;
	padding-top: 10px;
	max-width: 400px;
	border-radius: 0px 25px 0px 25px;
	background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(9,121,32,0.258) 35%, rgba(0,212,255,1) 100%);
}
.date, .hour{
	color: #363636;
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
	padding: 5px;
	width: 300px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	

}
.hour .fa {
	font-size: 30px;
	margin-left: 5px;

}
.date .far{
	font-size: 30px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;

}
.hours{
	font-size: 30px;

}
